---
---
@charset "utf-8";

@import "syntax-highlighting";

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-weight: 500;
}

h2 {
  font-variant: small-caps;
  text-transform: lowercase;
}
