---
---
@charset "utf-8";

@import "syntax-highlighting", "bootstrap.min";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#bootstrap-override {
  background: rgb(218, 167, 122); // alt: #13E4E4;
  color: rgb(37, 18, 2); // alt: #973900;
  font-size: 16px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

  h1, h2 {
    font-weight: 400;
    font-variant: small-caps;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    text-transform: lowercase;
  }


  a {
    color: rgb(165, 59, 58); // alt: #CA8814;
  }

  .pink {
    color: #E82BB6;
  }

  code {
    color: inherit;
    background: transparent;
    padding: 0px;
  }

  pre {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
  }

  .c, .c1 {
    color: green;
    // Typographical pet peeve: it's not italic, it's slanted Roman, aka
    // "oblique".  The default here is "italic" which does the exact same
    // thing, so this is just me being nitpicky as usual.
    font-style: oblique;
  }
}

.sidebar {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: top;
  background-color: #081023;
  display: flex;
  flex-direction: column;
  align-items: center;

  a img {
    border-radius: 100px;
    width: 350px;
  }

  a svg * {
    fill: #828282;
  }
}

.content {
  overflow-y: scroll;
}

.post-list {
  li {
    a {
      font-size: 19px;
    }

    span {
      font-size: smaller;
      font-style: oblique;
    }
  }

  ul {
    list-style: none;
    padding: 0px;
  }
}

.post-navigation {
  display: flex;
  flex-direction: row;

  a, div {
    flex: 1 0 0px;
  }

  a {
    &:first-child {
      text-align: left;

      &:before {
        content: "\ab  "
      }
    }

    &:last-child {
      text-align: right;

      &:after {
        content: " \bb"
      }
    }
  }
}

@media (max-width: 991px) {
  .sidebar {
    padding-bottom: 10px;

    a img {
      display: none;
    }
  }

  .post-list li span {
    display: none;
  }
}

@media (min-width: 992px) {
  .sidebar {
    height: 100%;
    padding-top: 100px;
  }

  .content {
    height: 100%;
  }
}
