<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <script src="https://kit.fontawesome.com/68a6621c88.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ "/css/main.css" }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  </head>
  <body id="bootstrap-override">
    <div class="col-md-4 sidebar">
      <a href="/">
        <img src="/desktop_image.jpg" />
      </a>

      <div class="links">
        <a href="https://github.com/jmarianer">
          <i class="fa-brands fa-github"></i> jmarianer
        </a>

        <a href="https://www.linkedin.com/in/joey-marianer/">
          <i class="fa-brands fa-linkedin"></i> joey-marianer
        </a>

        <a href="mailto:me@joeym.org">
          <i class="fa-solid fa-envelope"></i> me@joeym.org
        </a>
      </div>
    </div>

    <div class="content col-md-8">
      <!-- A bit of abuse of Bootstrap: the internal divs' width is relative to the outer div's, so the widths are half what they "should be". The extra layer of divs is used to make sure the scrollbar is all the way to the right of the screen. -->
      <div class="col-md-1"></div>
      <div class="col-md-10">
        {{ content }}
      </div>
    </div>
  </body>
</html>
