* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #311800;
  font-family: "PT Sans";
  padding: 0px;
  margin: 0px;
  background-color: rgba(234, 225, 208, 0.5);
}

.content {
  background-color: #eae1d0;
  width: 1024px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.content > * {
  padding-left: 40px;
}

.header-image {
  background-color: #eae1d0;
  background-image: url('logo.png');
  background-blend-mode: multiply;
  width: 483px;
  height: 250px;
  align-self: center;
}

.menu {
  display: flex;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
  list-style: none;
  padding: 0px 30px;
  width: 100%;
}

.menu a {
  font-size: 18px;
  padding: 10px 10px;
  margin-right: 20px;
  text-decoration: none;
  color: inherit;
}

.menu a:hover {
  background-color: black;
  color: #eae1d0;
}

.office-hours {
  border: 6px solid #975a01;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 30px;
}

h1 {
  font-family: "PT Serif";
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 40px;
}

p {
  margin: 0px;
}

.horizontal-box {
  display: flex;
  margin-top: 30px;
  flex-direction: row;
}

.it-happened {
  flex: 33%;
  font-size: 14px;
  padding: 20px;
}

.it-happened h1 {
  margin: 0px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.it-happened h2 {
  margin: 0px;
  font-size: 16px;
  margin-top: 20px;
  font-weight: normal;
}

.get-involved {
  flex: 66%;
  background-color: #55b1fb;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.get-involved h1 {
  font-size: 24px;
  font-family: "PT Sans Caption";
  margin: 0px;
  font-weight: bold;
}

.get-involved p {
  margin-top: 10px;
}

.get-involved a {
  color: #eae1d0;
  padding: 10px;
  border: 1px solid #eae1d0;
  text-decoration: none;
  align-self: center;
  margin-top: 10px;
}

.get-involved a:hover {
  background-color: #eae1d0;
  color: #55b1fb;
}
