.brier-image {
  width: 241px;
  height: 125px;
  background-image: url('brier.png');
  background-color: #daa77a;
  background-blend-mode: multiply;
  display: inline-block;
  background-size: contain;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 300px auto;
}

@media only screen and (max-width: 500px) {
  .portfolio-grid {
    grid-template-columns: auto;
  }
}

.portfolio-grid .description {
}

.portfolio-grid .image {
  width: 300px;
}

.portfolio-grid .title {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.4em;
}
